@media (max-width: 768px) {
    /* 481 -> 768 */
    #navigation {
        padding-top: 3%
    }

    .nav-item {
        font-size: 22px;
    }
    
    #profile {
        margin-top: -8%;
    }
    
    
    .profile-pic {
        width: 125px;
        height: 125px;
    }
    
    .profile-name {
        letter-spacing: 5px;
        font-size: 1.5rem;
        font-weight: 600;
        font-style: normal;
        margin-top: -1%;
    }
    
    .profile-info {
        font-size: 1.25rem;
        letter-spacing: 5px;
    }

    .grid-container {
        top:45%;
        grid-template-areas:
        'social-contact'
        'about-me'
        'tech-stack'
        'work-experience'
        'education'
        'language'
        'project';
    }

    #social-contact {
        height: 10px; 
        padding: 5% 0;
    }
    
    #social-contact .items {
        margin: -16px auto;
    }
    
    #social-contact .item {
        padding: 6px 0 ;
    }

    #social-contact .item a {
        padding: 0 24px;
    }

    .bigger-icon{
        font-size: 1.5rem;
    }
    .hidden {
        visibility: hidden;
        opacity: 0;
    }
    
    #transparent {
        font-size: 0px;
        color: transparent;
    }

}

@media (max-width: 480px) {
    #navigation {
        padding-top: 3%
    }

    .nav-item {
        font-size: 22px;
    }
    
    #profile {
        margin-top: -8%;
    }
    
    .grid-container {
        top:45%;
        grid-template-areas:
        'social-contact'
        'about-me'
        'tech-stack'
        'work-experience'
        'education'
        'language'
        'project';
    }
    
    .profile-pic {
        width: 125px;
        height: 125px;
    }
    
    .profile-name {
        letter-spacing: 5px;
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: -1%;
    }
    
    .profile-info {
        font-size: 1.25rem;
        letter-spacing: 5px;
    }

    #social-contact {
        height: 50px; 
        padding: 1% 0;
    }
    
    #social-contact .items {
        font-size: 12px;
        margin-top: 0.7%;
    }
    
    #social-contact .item {
        padding: 6px 0 ;
    }

    #social-contact .item a {
        font-size: 12px;
        padding: 0 24px;
    }

    .bigger-icon{
        font-size: 2rem;
    }
    .hidden {
        visibility: hidden;
        opacity: 0;
    }

    #transparent {
        font-size: 0px;
        color: transparent;
    }
}

@media (max-width: 374px) {
    * {
        display: none;
    }
}