:root {
    --bg: #19202e;
    --white: #fff;
    --dark: #000;
    --position-color: #9aa9c3;
    --grid-color: #a5b3ce;
    --social-network: rgb(165, 179, 206);
    --container-bg: #1e2738;
    --contact-network: rgba(254, 241, 254, 0.667);
    --wing: rgb(0, 128, 0);
    --truemoney: rgb(227, 150, 62);
    --degree: rgb(229, 153, 67);
    --font-subject: "Pridi", serif;
    --font-primary: "Inter", sans-serif;
}

@media only screen and (min-width: 481px) and (max-width: 992px) {

    .profile-slider {
        width: 175px;
        height: 175px;
        margin-top: 20%;
    }
    .profile-image {
        width: 175px;
        height: 175px;
        margin-top: -2%;
    }
    
    button {
        top: 30%;
        font-size: 1.5rem;
    }

    #profile {
        margin-top: -10%;
    }

    .profile-pic {
        width: 160px;
        height: 160px;
    }
    
    .profile-name {
        font-size: 2rem;
    }
    
    .profile-info {
        font-size: 1.3rem;
    }

    .grid-container {
        margin-top: 2%;
        left: 0;
        width: 92%;
        margin: 0 auto;
        position: relative;
        grid-template-areas:
            'navigation'
            'social-contact'
            'about-me'
            'education'
            'work-experience'
            'tech-stack'
            'language'
            'references';
    }

    #navigation {
        width: auto;
        border-bottom: none;
        padding-bottom: 3%;
        margin-left: .8%;
        padding: 2% 4%;
        padding-left: 1.2rem;
        margin-bottom: .6rem;
        background-color: var(--degree);
        border-radius: 12px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .nav-item a {
        font-size: 2rem;
        padding-right: 1rem;
        color: var(--white);
        cursor: pointer;
    }

    #social-contact {
        border-top: 1px dashed transparent;
        border-bottom: 1px dashed transparent;
        background-color: #19202e;
        width: 100%;
        height: 8%;
        padding-bottom: 8%;
    }

    #social-contact .items {
        margin-top: 0 8%;
        padding-left: 10%;
    }

    #social-contact .item a {
        font-size: 1.5rem;
        padding: -12%;
    } 

    .hidden {
        visibility: hidden;
        opacity: 0;
    }

    #transparent {
        font-size: 0px;
        color: transparent;
    }

    #about-me{
        display: block;
        text-align: left;
        padding: 0;
        width: 99%;
    }
    
    #about-me h3 {
        font-size: 1.4rem;
    }
    
    #about-me p {
        text-indent: 8px;
        font-size: 1rem;
        padding-left: 36px;
    }

    #education {
        width: 95%;
        color: var(--white);
        border-top: 1px solid var(--white);
        border-left: none;

    }
    
    #education h3 {
        text-align: left; 
        font-size: 1.3rem;  
    } 
    
    #education .school {
        padding-right: 8%;
        font-size: 1.3rem;
    }

    #education .school img {
        width: 1rem;
    }
    
    #education .degree {
        font-size: 1rem;
        padding: 0 6px;
        border-radius: 6px;
    }

    #work-experience {
        overflow-y: none;
        border: none;
    }
    
    #work-experience h3 {
        text-align: left; 
        font-size: 1.3rem;  
    }
    
    #work-experience h5 {
        font-size: 1.5rem;
    }
    
    #work-experience .date {
        padding: 1% 0.8rem;
    }
    
    #work-experience ul {
        margin-left: 2rem;
        margin-top: -5%;
    }
    
    #work-experience ul li {
        font-size: 1.1rem;
    }
    
    .wing {
        width: auto;
        text-align: right;
        padding: 3px;
        padding-right: 5%;
        font-size: 12px;    
        right:0;
    }
    
    .truemoney {
        width: auto;
        text-align: right;
        padding: 3px;
        padding-right: 5%;
        font-size: 12px;    
        right:0;
    }

    #tech-stack {
        width: auto;
        border-top: 1px solid var(--white);
    }

    #tech-stack h3 {
        text-align: left; 
        font-size: 1.3rem; 
    }

    #language {
        border-right: none;
    }
    
    #language h3 {
        text-align: left; 
        font-size: 1.3rem; 
    }
    
    .language_title {
        font-size: 1rem;
        padding-left: 36px;
    }
    
    .column_lang {
        width: 80px;
        height: 25px;
    }
    
    .column_lang_bright {
        width: 80px;
        height: 25px;
    }
    
    .column_lang_bright_half {
        width: 80px;
        height: 25px;
    }

    #references h3 {
        text-align: left; 
        font-size: 1.3rem; 
        padding: 0 auto;
    }
    
    .referer {
        font-size: 1.2rem;
    }
    
    .reference_prop {
        font-size: .9rem;
    }   
    
}

@media (max-width: 480px) {
    .profile-slider {
        width: 150px;
        height: 150px;
        margin-top: 20%;
    }
    .profile-image {
        width: 150px;
        height: 150px;
        margin-top: -2%;
    }
    
    button {
        top: 30%;
        font-size: 1.2rem;
    }
    
    #navigation {
        width: 90%;
        border-bottom: none;
        padding-bottom: 3%;
        margin-left: 2%;
        padding: 5% 4%;
        padding-left: 6px;
        margin-bottom: 12px;
        background-color: var(--degree);
        border-radius: 12px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .nav-item {
        font-size: 22px;
        margin-right: -12px;
    }

    .nav-item a {
        font-size: 1.7rem;
        padding-right: 12px;
        color: rgb(31, 76, 91);
        cursor: pointer;
    }

    .nav-item a:hover {
        color: var(--bg);
    }

    .grid-container {
        top: 50%;
        left: 0;
        width: 90%;
        position: relative;
        grid-template-areas:
            'navigation'
            'social-contact'
            'about-me'
            'education'
            'work-experience'
            'tech-stack'
            'language'
            'references';
    }

    .profile-pic {
        width: 125px;
        height: 125px;
    }

    .profile-name {
        letter-spacing: 5px;
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: -1%;
    }

    .profile-info {
        font-size: 1.25rem;
        letter-spacing: 5px;
    }

    #about-me {
        padding: 0;
        width: 99%;
        border-top: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
    }

    #social-contact {
        border-top: 1px dashed transparent;
        border-bottom: 1px dashed transparent;
        background-color: #19202e;
        width: auto;
        height: auto;
        padding: 5% 6%;
        margin-bottom: 12px;
    }

    #social-contact .items {
        margin-top: 0.7% 0;
        padding-bottom: .8rem;
        padding-left: 1rem;
        padding: 0 auto;
    }

    #social-contact .item a {
        padding: -12%;
    }

    .bigger-icon {
        font-size: 1rem;
    }

    .hidden {
        visibility: hidden;
        opacity: 0;
    }

    #transparent {
        font-size: 0px;
        color: transparent;
    }

    #education {
        width: 96%;
        border-left: none;
    }

    #education h3 {
        display: block;
        padding: 0 20%;
        margin: 4% auto;
        text-decoration: underline;
        font-size: 1.7rem;
    }

    .fa-book {
        display: none;
    }

    #work-experience {
        padding: 0 3%;
        width: 95%;
        border: none;
    }

    #work-experience h3 {
        display: block;
        padding: 0 16%;
        margin: 4% auto;
        text-decoration: underline;
        font-size: 1.2rem;
        text-align: center;
    }

    .fa-briefcase {
        display: none;
    }

    #work-experience h5 {
        font-size: 1.2rem;
    }

    #work-experience .date {
        padding: 1% 0.8rem;
    }

    .wing {
        left: 75.5%;
    }

    .truemoney {
        width: 10px;
        left: 75.5%;
    }

    #tech-stack {
        width: 95%;
        border-top: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
    }

    #tech-stack h3 {
        display: block;
        padding: 0 20%;
        margin: 4% auto;
        text-decoration: underline;
        font-size: 1.6rem;
        text-align: center;
    }

    .fa-microchip {
        display: none;
    }

    #language {
        padding: 0 3%;
        width: 95%;
        border-bottom: 1px solid var(--white);
        border-right: none;
    }

    #language h3 {
        display: block;
        padding: 0 24%;
        margin: 4% auto;
        text-decoration: underline;
        font-size: 1.4rem;
        text-align: center;
    }

    .fa-language {
        display: none;
    }

    .referer {
        margin-top: -2%;
    }
}

@media (max-width: 374px) {
    * {
        display: none;
    }
}